<p class="text-center h4">@ViewData["keyword"] related AssetPacks</p>
<div class="row text-light">
    @{ 
        foreach(var item in ViewBag.assetlist)
        {
            <div>@item.title</div>
        }
    }
</div>