@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}
<style>
    .jumbotron {
        position: relative;
        overflow: hidden;
    }

        .jumbotron .container {
            position: relative;
            z-index: 2;
            background: rgba(0,0,0,0.2);
            padding: 2rem;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 3px;
        }

    .jumbotron-background {
        object-fit: cover;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0.2;
    }

    img.blur {
        -webkit-filter: blur(2px);
        filter: blur(2px);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    }
    .fas{
        font-size: 3em;
    }
</style>
<div class="jumbotron jumbotron-fluid bg-dark">

    <div class="jumbotron-background">
        <img src="~/images/2997.jpg" class="blur ">
    </div>

    <div class="container text-white">

        <h1 class="display-4">Hello, @ViewBag.user.firstname!</h1>
        <p class="lead">Funds just arrived! everyone gets a dashboard now ;).</p>
        <hr class="my-4">
        <p>Look around. This page is your very own panel!</p>

    </div>
    <!-- /.container -->


</div>

<!-- For Demo Purpose -->
<div class="container">
    <div class="bg-light">
        <div class="row">
            <div class="text-center col-3 m-4">
                <a href="#" style="text-decoration:none">
                    <div class="card">
                        <i class="fas fa-plus card-header" style="color:tomato;"></i>
                        <div class="card-body text-dark">Add a new Asset</div>
                    </div>
                </a>
            </div>
            <div class="text-center col-3 m-4">
                <a href="#" style="text-decoration:none">
                    <div class="card">
                        <i class="fas fa-download card-header" style="color:tomato;"></i>
                        <div class="card-body text-dark">View most downloaded</div>
                    </div>
                </a>
            </div>

            <div class="text-center col-3 m-4">
                <a href="#" style="text-decoration:none">
                    <div class="card">
                        <i class="fas fa-grin-beam-sweat card-header" style="color:tomato;"></i>
                        <div class="card-body text-dark">Latest assets</div>
                    </div>
                </a>
            </div>
            <div class="text-center col-3 m-4">
                <a href="#" style="text-decoration:none">
                    <div class="card">
                        <i class="fas fa-user-tag card-header" style="color:tomato;"></i>
                        <div class="card-body text-dark">My assets</div>
                    </div>
                </a>
            </div>
            @{
                if (ViewBag.user.role == "admin")
                {
                    <div class="text-center col-3 m-4">
                        <a href="#" style="text-decoration:none">
                            <div class="card">
                                <i class="fas fa-hammer card-header" style="color:tomato;"></i>
                                <div class="card-body text-dark">Ban Users</div>
                            </div>
                        </a>
                    </div>
                    <div class="text-center col-3 m-4">
                        <a href="#" style="text-decoration:none">
                            <div class="card">
                                <i class="fas fa-user-cog card-header" style="color:tomato;"></i>
                                <div class="card-body text-dark">Edit roles</div>
                            </div>
                        </a>
                    </div>
                    <div class="text-center col-3 m-4">
                        <a href="#" style="text-decoration:none">
                            <div class="card">
                                <i class="fas fa-users-cog card-header" style="color:tomato;"></i>
                                <div class="card-body text-dark">Edit members</div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        </div>
</div>