@model GASS.Models.LoginModel
<div class="row" style="margin-top: 10%;">
    <div class="col-lg-4"></div>
    <div class="col-sm-12 col-lg-4">
        <form asp-action="LogAction" asp-controller="Login">
            <div class="form-group">
                <label for="inputEmail">Username</label>
                <input name="username" type="text" class="form-control" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input name="username" type="password" class="form-control" id="inputPassword" required placeholder="Password">
            </div>
            <div class="form-group">
                <label class="form-check-label"><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
