@{
    ViewData["Title"] = "Home";
    if ((string)ViewData["isLogged"] == "true")
        Layout = "~/Views/Shared/_LoggedIn.cshtml";
}
<style>
    #homepage_search {
        background: url("~/images/homepage_search_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="text-center mt-5" id="homepage_search">
    <div class="container">
        <h2>What are you looking for today?</h2>
        <p>Welcome to library of various game assets</p>
        <form asp-controller="Search" asp-action="Index" method="get">
            <input type="text" class="form-control form-control-lg mr-sm-2" name="key" placeholder="Enter tag, category or name of the asset"/>
            <button type="submit" class="btn btn-success mt-5">Search for thousands of game assets</button>
        </form>
    </div>
</div>

